<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated userstory -->
      <package
            uri="http://www.upe.br/userstory/1.0"
            class="userstory.UserstoryPackage"
            genModel="model/userstory.genmodel"/>
   </extension>

</plugin>
